html,body{
	background-color: #ddd;
	/*background-image: url(../img/bg_1.jpg);*/
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0 auto;
	height: 100vh; width: 100vw;


}

h1{
	font-family: "Comic Sans MS",cursive, sans-serif;
	color: #fff;
}

.left{
	background-color: rgba(200,0,200,0.3);
	text-align: center;
	padding-top: 10em;
	padding-left: 2em;

}

.right{
	background-image: url(../img/bg_1.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 1em;

}



button.startButton{
	margin-left: 10px;
	color:#f00;
	background-color: #0ff;
	
}

.content1{
	position: absolute;
	top: 19em;
	left: 75%;
	background: url('../img/cant-wait.png') no-repeat 0 0;
	width: 204px;
	height: 65px;
	display: none;
}

.content1.show{
	display: block;
}

.content2{
	position: absolute;
	top: 19em;
	left: 49%;
	background: url('../img/nervous.png') no-repeat 0 0;
	width: 241px;
	height: 120px;
	display: none;
}

.content2.show{
	display: block;
}

.rocket{
	position: absolute;

	width: 200px; height: 182px;
	background-color: blue; 
	left: 62%;
	bottom: 0.5em;
	background: url('../img/t-64.png');
	background-repeat: no-repeat;
	background-size: contain;
	transition: bottom 15000ms;
}

body.body-state2 .rocket{
	background-image: url('../img/t-64-state2.gif');
	bottom: 1.5em;
}

body.body-state3 .rocket{
	background-image: url('../img/t-64-state3.gif');
}

body.body-state5 .rocket{
	background-image: url('../img/boom.png');
	width: 209px; height: 200px;
	left: 62%
}


body.body-state1 .rocket{
	transition:none ;
}






body.body-state3 .rocket, body.body-state4 .rocket{
	bottom: 5000px;
}


.state1,.state2,.state3,.state4,.state5{display: none;}

body.body-state1 .state1{display: block;}

body.body-state2 .state2{display: block;}

body.body-state3 .state3{display: block;}

body.body-state4 .state4{display: block;}

body.body-state5 .state5{display: block;}


.ground{
	background-color: green;
	position: fixed;
	bottom: 0em;
	width:80%;
	height: 20px;
}
