html,body{
	background-color: #ddd;
	/*display: flex;*/
	background-image: url(../img/bg_1.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0 auto;
	height: 100vh; width: 100vw;


}

h1{
	font-family: "Comic Sans MS",cursive, sans-serif;
	color: #fff;
}

.left{
	background-color: rgba(200,0,200,0.3);
	text-align: center;
	padding-top: 10em;
	padding-left: 2em;

}

.right{
	
}



button.startButton{
	margin-left: 10px;
	color:#f00;
	background-color: #0ff;
	
}

.rocket{
	position: absolute;

	width: 71.5px; height: 136px;
	background-color: blue; 
	bottom: -8px;
	left: 67%;
	background: url('../img/rocket-state1.png');
	background-repeat: no-repeat;
	background-size: contain;
	transition: bottom 15000ms;
}

body.body-state2 .rocket{
	background-image: url('../img/rocket-state2.gif');
}

body.body-state3 .rocket{
	background-image: url('../img/rocket-state3.gif');
}

body.body-state5 .rocket{
	background-image: url('../img/boom.png');
	width: 209px; height: 200px;
	left: 66%
}


body.body-state1 .rocket{
	transition:none ;
}

body.body-state3 .rocket, body.body-state4 .rocket{
	bottom: 5000px;
}


.state1,.state2,.state3,.state4,.state5{
	display: none;
}

body.body-state1 .state1{
	display: block;
}

body.body-state2 .state2{
	display: block;
}

body.body-state3 .state3{
	display: block;
}

body.body-state4 .state4{
	display: block;
}

body.body-state5 .state5{
	display: block;
}

.ground{
	background-color: green;
	position: absolute;
	bottom: -15px;
	width:80%;
	height: 20px;
}
